language: go

branches:
  only:
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

go:
  - 1.11
  - tip

before_install:
  - go get -t -v ./...

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
